[submodule "data/false examples/WordPress"]
	path = data/false-examples/WordPress
	url = https://github.com/WordPress/WordPress.git
[submodule "data/false-examples/mediawiki"]
	path = data/false-examples/mediawiki
	url = https://github.com/wikimedia/mediawiki.git
[submodule "data/false-examples/Laravel-5-Bootstrap-3-Starter-Site"]
	path = data/false-examples/Laravel-5-Bootstrap-3-Starter-Site
	url = https://github.com/mrakodol/Laravel-5-Bootstrap-3-Starter-Site.git
[submodule "data/false-examples/symfony"]
	path = data/false-examples/symfony
	url = https://github.com/symfony/symfony.git
[submodule "data/true-examples/BlackArch"]
	path = data/true-examples/BlackArch
	url = https://github.com/BlackArch/webshells.git
